<div class="container col-xs-12">
	<!-- 标题区 -->
	<div class="header-span" id="myCus" ng-hide="1"><span class="icon-home"></span>主页&gt;我的客户</div>
	<!-- 查询区 -->
	<form class="form-inline" role="form">
    	<div class="form-group form-m"> 
            <label for="workUnit" class="Label">单位名称</label>
            <input type="text" id="workUnit" ng-model="workUnit" class="form-control" placeholder="请输入单位名称">
        </div>
        
        <div class="form-group form-m"> 
            <label for="customType" class="Label">类型</label>
            <select class="form-control" id="customType">
            	<option value=""></option>
            	<option ng-repeat="item in customType" value="{{item.id}}">{{item.dicTitle}}</option>
            </select>
        </div>   
        <div class="form-group form-m"> 
            <label for="industry" class="Label">行业</label>
            <select class="form-control" id="industry">
            	<option value=""></option>
            	<option ng-repeat="item in industry" value="{{item.id}}">{{item.dicTitle}}</option>
            </select>
        </div>    
        <div class="form-group form-m"> 
            <label for="customState" class="Label">状态</label>
            <select class="form-control" id="customState">
            	<option value=""></option>
            	<option ng-repeat="item in customState" value="{{item.id}}">{{item.dicTitle}}</option>
            </select>
        </div>         
        <button type="button" class="Btn" ng-click="queryCus(1);">查&nbsp;询</button>     
        <button type="button" class="Btn" ng-click="export();">导&nbsp;出</button>                    
    </form>
    <hr>
    <!-- 操作区 -->
    <div class="btn-wrapper">
    	<a class="Btn" ui-sref="customerAdd({pagename:pagename})">新建</a>
    	<a class="Btn Btn-white" ng-click="customerMod();">修&nbsp;改</a>
    	<!--<a class="Btn" ng-click="customerDel();">删除</a>  -->
    	<a class="Btn Btn-red" ng-click="customerRel();">释&nbsp;放</a>
    	<a class="Btn Btn-green" ng-click="CusFollowRecordAdd();">新建记录</a>
    </div>
    <div class="table-responsive">
 	<!-- 表格区 -->
 	<table class="table table-striped table-bordered" id="table2">
 		<!-- 标题 -->
 		<thead>
            <tr class="header-tr">
            	<th id="allC"><input type="checkbox" name="select"></th>
            	<th>No</th>
            	<th ng-click="nameCusChange();">单位名称<span class="glyphicon glyphicon-chevron-down spanfont" id="nameCus"></span></th>
            	<th ng-click="typeChange();">类型<span class="glyphicon glyphicon-chevron-down spanfont" id="typeCus"></span></th>
            	<th ng-click="industryChange();">行业<span class="glyphicon glyphicon-chevron-down spanfont" id="industryCus"></span></th>
            	<th ng-click="stateChange();">状态<span class="glyphicon glyphicon-chevron-down spanfont" id="stateCus"></span></th>
                <th ng-click="cityChange();">所在城市<span class="glyphicon glyphicon-chevron-down spanfont" id="cityCus"></span></th>
                <th ng-click="formChange();">客户来源<span class="glyphicon glyphicon-chevron-down spanfont" id="formCus"></span></th>
                <th>操作</th>
            </tr>
        </thead>
        <!-- 内容 -->
        <tbody>
        	<!-- 循环遍历生成表格 -->
			<tr ng-repeat="item in data" id="{{$index}}"  ng-show="$index <= endNum && $index >= startNum" class="body-tr">
				<th ng-hide="1">{{item.id}}</th>
				<th class="short"><input type="checkbox" name="select"></th>
				<th class="no">{{$index + 1}}</th><!-- NO -->
				<th>{{item.workUnit}}</th><!-- 单位名称 -->
				<th>{{item.customType}}</th><!-- 类型 -->
				<th>{{item.industry}}</th><!-- 行业-->
				<th>{{item.customState}}</th><!-- 状态 -->
				<th>{{item.customCity}}</th><!-- 所在城市-->
				<th>{{item.customFrom}}</th><!-- 客户来源 -->
				<th ng-hide="1">{{item.customTypeId}}</th>
				<th ng-hide="1">{{item.industryId}}</th>
				<th ng-hide="1">{{item.customStateId}}</th>
				<th ng-hide="1">{{item.customCityId}}</th>
				<th ng-hide="1">{{item.customFromId}}</th>
				<th ng-hide="1">{{item.addTime}}</th>
				<th ng-hide="1">{{item.addPeople}}</th>
				<th ng-hide="1">{{item.address}}</th>
				<th ng-hide="1">{{item.workPhone}}</th>
				<th ng-hide="1">{{item.ascriptionTime}}</th>
				<th ng-hide="1">{{item.ascription}}</th>
				<th ng-hide="1">{{item.summary}}</th>
				<th ng-hide="1">{{item.address}}</th>
				<th ng-hide="1">{{item.workPhone}}</th>
				<th class="text-center">
					<a ng-click="queryDetails();" data-toggle="modal" data-target="#myModal">查看详情</a>
					<a ng-click="queryFollowDetails();">查看跟进记录</a>
				</th>
			</tr>
        </tbody>
 	</table>
 	</div>
 	<!-- 分页 -->
 	<nav>
        <ul class="pagination">
            <li>
                <a href="javascript:;" id="firstBtn" ng-click="queryCus(1);"> 首页</a>
            </li>
            <li>
                <a href="javascript:;" id="prevBtn" ng-click="prevBtnQueryCus();">上页</a>
            </li>  
            <!-- 循环生成页码 -->     
            <li ng-repeat="i in pageBtns" ng-class="{active:currPage==i}">
                <a href="javascript:;" ng-click="queryCus(i);">{{i}}</a>
            </li>               
            <li>
                <a href="javascript:;" id="nextBtn" ng-click="nextBtnQueryCus();">下页</a>
            </li>
            <li>
                <a href="javascript:;" id="lastBtn" ng-click="queryCus(pagerCount);">末页</a>
            </li>
            <ul class="pagination" id="pagination">
            	<!-- 第几页/共几页 -->
            	<li>
             	   <a id="pagerInfo">共{{totle}}条记录,第{{currPage}}/{{pagerCount}}页,每页数据:</a>
           	 	</li>
            	<!-- 每页数据量 -->
            	<li >
                	<a id="sizeBtn">
                    	<select ng-model="pagerSize" ng-click="queryCus(1);">
            				<option>5</option>
               	 			<option>10</option>
                			<option>15</option>
            			</select>
                	</a>
            	</li>
            	<!-- 跳转的页码 -->
            	<li>
                	<a href="javascript:;" id="goBtn">
                    	第<input type="text" size="2" ng-model="goPage">页<a  ng-click="goQueryCus(goPage);" id="go" >跳转</a>
                	</a>
            	</li>
        	</ul>
        </ul>
    </nav>
    <!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   		<div class="modal-dialog">
	    	<div class="modal-content">
	        	<div class="modal-header">
	            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	            	<h4 class="modal-title" id="myModalLabel">客户信息</h4>
	        	</div>
	        	<div class="modal-body"> 
                    <div class="row">
                        <div class="col-md-3 text-right no-padding">单位名称:</div>
	          	        <div class="col-md-8 no-padding">{{WorkUnit}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-right no-padding">类型:</div>
                        <div class="col-md-8 no-padding">{{CustomType}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-right no-padding">行业:</div>
                        <div class="col-md-8 no-padding">{{Industry}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-right no-padding">状态:</div>
                        <div class="col-md-8 no-padding">{{CustomState}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-right no-padding">所在城市:</div>
                        <div class="col-md-8 no-padding">{{CustomCity}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-right no-padding">客户来源:</div>
                        <div class="col-md-8 no-padding">{{CustomFrom}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-right no-padding">公司地址:</div>
                        <div class="col-md-8 no-padding">{{Address}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-right no-padding">联系方式:</div>
                        <div class="col-md-8 no-padding">{{WorkPhone}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-right no-padding">客户简介:</div>
	          	        <div class="col-md-8 no-padding">{{Summary}}</div>
                    </div>
                    <!-- 
                    	<div class="row">
                        <div class="col-md-3 text-right">所属业务员:</div>
	          	        <div class="col-md-8">{{Ascription}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-right">归属日期:</div>
	          	        <div class="col-md-8">{{AscriptionTime}}</div>
                    </div>
                     -->
                    <div class="row">
                        <div class="col-md-3 text-right no-padding">添加人:</div>
	          	        <div class="col-md-8 no-padding">{{AddPeople}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-right no-padding">添加日期:</div>
                        <div class="col-md-8 no-padding">{{AddTime}}</div>
                    </div>

	        	</div>
	        	<div class="modal-footer">
	            	<button type="button" class="btn btn-success" data-dismiss="modal">关闭</button>
	        	</div>
	    	</div>
		</div>
	</div>
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="followModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   		<div class="modal-dialog">
	    	<div class="modal-content">
	        	<div class="modal-header">
	            	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	            	<h4 class="modal-title" id="myModalLabel">跟进记录</h4>
	        	</div>
	        	<div class="modal-body" id="modalBody"> 	        	
	        	</div>
	        	<div class="modal-footer">
	            	<button type="button" class="btn btn-success" data-dismiss="modal">关闭</button>
	        	</div>
	    	</div>
		</div>
	</div>
</div>
